.add-list-form {
  text-align: center;
  justify-content: center;
  border: 2px groove rgb(240, 185, 47);
  width: 50rem;
  height: 30rem;
  border-radius: 15px;
  font-size: 20px;
  margin: auto;
}

.card-container {
  // display: flex;
  padding: 30px;
}

.form-control {
  width: 35rem;
  margin: auto;
  border-radius: 15px;
}

.form-control-add-item {
  border: 2px groove rgb(240, 185, 47);
  width: 9rem;
  margin: auto;
  border-radius: 15px;
  font-size: 15px;
}

.card-border {
  border: 2px groove rgb(240, 185, 47);
  width: 50rem;
  height: 20rem;
  padding: 25px;
  margin: auto;
  border-radius: 15px;
}
