.card-border-login {
  text-align: center;
  justify-content: center;

  border: 2px groove rgb(19, 133, 255);
  width: 60rem;
  height: 70rem;
  padding: 25px;
  margin: auto;
  border-radius: 15px;
}

.mb-3 {
  padding: 25px;
  margin: auto;
  border-radius: 15px;
}

.inputValues {
  font-size: 20px;
  padding: 25px;
  margin: auto;
  border-radius: 15px;
}

.CardHeader {
  margin: auto;

  border: 2px groove black;
  border-radius: 15px;

  font-size: 35px;
  width: 15rem;
}
